$primary-color: #5E77EB;
$primary-color-dark: #4E67D8;

$white: #FFFFFF;
$black: #000000;

$nav-bg: #D9D9D9;
$shadow: 0 6px 12px rgba(0, 0, 0, 0.18);

$text-dark: #111111;
$text-soft: #4A4A4A;

$font-main: 'Lato', sans-serif;
