@import './variables';
@import './mixins';


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden; //nie można scrollować w prawo
}

body {
  margin: 0;
  font-family: $font-main;
  background: $white;
  color: $text-dark;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  min-height: 100vh;
}

/* HOME */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.home__top {
  height: 65vh;
  background: $white;
  position: relative;
}

.home__nav {
  position: absolute;
  top: 22px;
  left: 22px;
  right: 22px;
  @include flex-between;
  z-index: 2;
}

.home__navLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}

.home__navGroup {
  height: 44px;
  background: $nav-bg;
  border-radius: 8px;
  box-shadow: $shadow;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 12px;
}

/*Logo left*/
.home__logo {
  display: flex;
  align-items: center;
  width: fit-content;
}

.home__logoLink {
  display: inline-block;
}

.home__logoLink img {
  height: 70px;
  display: block;
}


.home__navItem {
  height: 34px;
  padding: 0 18px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: $text-dark;
}

.home__navRight {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* MUI Buttons – changing buttons */
.home__login.MuiButton-root {
  height: 44px;
  padding: 0 28px;
  border-radius: 8px;
  text-transform: none;
  font-weight: 700;
  box-shadow: $shadow;
  background: $primary-color;
}

.home__getStarted.MuiButton-root {
  height: 44px;
  padding: 0 18px;
  border-radius: 8px;
  text-transform: none;
  font-weight: 700;
  box-shadow: $shadow;
  background: $nav-bg;
  color: $text-dark;
}

/*Title*/

.home__title {
  margin: 0;
  font-weight: 900;
  letter-spacing: 0.18em;
  line-height: 0.95;
  font-size: clamp(64px, 10vw, 140px);
  display: flex;
  align-items: baseline;
}
.home__titleStrong {
  color: $black;
}
.home__titleSoft {
  color: $text-soft;
}
.home__dot {
  color: $text-soft;
  letter-spacing: 0;
  margin-left: 4px;
}

.home__hero {
  height: 100%;
  @include flex-center;
}

/* BOTTOM */
.home__bottom {
  height: 35vh;
  background: $primary-color;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 28px 28px 22px 28px;
}

.home__tagline {
  margin: 0;
  max-width: 320px;
  font-size: 18px;
  line-height: 1.25;
  color: $text-dark;
  white-space: pre-line;
}

.home__poland {
  position: absolute;
  right: 28px;
  bottom: 22px;
}
.home__poland img {
  width: 320px;
  max-width: 40vw;
  height: auto;
  display: block;
}

/*ABOUT*/
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.about__tittle {
  margin: 0;
  font-size: clamp(48px, 8vw, 100px);
  font-weight: 900;
}

.about__subtitle {
  font-size: 18px;
  color: $text-dark;
}

.about__top {
  height: 65vh;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.about__bottom {
  height: 35vh;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back__home__button {
  height: 44px;
  padding: 0 18px;
  border-radius: 8px;
  font-weight: 700;
  box-shadow: $shadow;
  background: $nav-bg;
  color: $text-dark;
}

/*SERVICES*/
.services {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.services__top {
  height: 75vh;
  background: $white;
  position: relative;
}

.services__cards {
  position: absolute;
  top: 270px;
  left: 35px;
  right: 35px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  z-index: 2;
}

.services__card__skater{
  border: 2px solid $black;
}
.services__card__glass{
  border: 2px solid $black;
}
.services__card__add{
  border: 2px solid $black;
}

.services__bottom {
  height: 25vh;
  background: $primary-color;
}
.services__title{
  margin: 0;
  font-weight: 900;
  letter-spacing: 0.18em;
  line-height: 0.95;
  font-size: clamp(64px, 10vw, 140px);
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: $text-dark;
}

/*LISTOFITEMS*/

.listofitems{
  background: $primary-color;
}
.listofitems__header{
  padding: 22px;
}
.listofitems_title{
  margin: 0;
  font-weight: 900;
  letter-spacing: 0.18em;
  line-height: 0.95;
  font-size: clamp(64px, 10vw, 140px);
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: $text-dark;
}

.mt-8{
  background: $primary-color;
}

/*New Facility*/


.newfacility {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.newfacility__top {
  height: 75vh;
  background: $white;
  position: relative;
}

.newfacility__bottom {
  height: 25vh;
  background: $primary-color;
}
.newfacility__title{
  margin: 0;
  font-weight: 900;
  letter-spacing: 0.18em;
  line-height: 0.95;
  font-size: clamp(64px, 10vw, 140px);
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: $text-dark;
}

.newfacility__forms{
  position: absolute;
  top: 270px;
  left: 35px;
  right: 35px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  z-index: 2;
}
.newfacility__buttons{
  display: flex;
  gap: 16px;
}
.newfacility__boy {
  position: absolute;
  right: 28px;
  bottom: 22px;
}
.newfacility__boy img {
  width: 320px;
  max-width: 40vw;
  height: auto;
  display: block;
}